<!DOCTYPE html>
<html>
  <body>
    <h1 class="bg">EJS view</h1>

    <div>
      <h1>You searched for: <%= data.userQuery %></h1>
      <% if (data.loggedIn) { %>
      <h2>You're logged in as : <%= data.userName %></h2>
      <% } %>
      <ul>
        <% data.searchResults.forEach(result => { %>
        <li><%= result %></li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
